<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-uppercase">Terms & conditions</h2>
            <p class="text-danger">BEFORE USING OUR SERVICE, PLEASE READ THIS STATEMENT OF PRIVACY PRACTICES CAREFULLY.</p>
            <p>Playlocal ("Our," "We," or "Us") consists of web pages with data that we have supplied. Your acceptance of these Terms of Service and our statement of privacy practices, which is incorporated herein by reference and may be found at, as well
                as other conditions governing your use of the Site, is required before you are granted access to it ("Terms"). Acceptance is conditioned entirely on acceptance in accordance with this Agreement's conditions, if these are deemed an offer.
                You are not authorized to use the Site/Client or any other connected services if you do not unconditionally agree to all of the terms and conditions of this agreement.</p>
        </div>
        <div class="col-12">
            <h3 class="text-capitalize">1. Use Of The Services</h3>
            <p>Please be aware that we reserves the right to modify these Terms at any time and without prior notice in its sole discretion. The most recent version of the Terms is always available for your consideration. You must abide by the revised Terms
                as of the version date stated in the revised Terms. You must cease using the Playlocal service if you do not accept the revised Terms. You will be deemed to have accepted the amended Terms if you keep using the service after the effective
                date.
            </p>
        </div>
        <div class="col-12">
            <h3 class="text-capitalize">2. Modifications to the client/site</h3>
            <p>If and when the Site/Client is accessible, you may utilize it. We do not promise that the Site, Client, or any specific feature will always be available. Pre-release versions of certain features might not function properly or in the same way
                as a final version. The final version might undergo considerable changes, or we might decide not to publish it. We reserve the right, at any time and without prior notice, to modify, remove, delete, limit or block access to, charge for,
                or cease offering all or any portion of the Site/Client.
            </p>
        </div>
        <div class="col-12">
            <h3 class="text-capitalize">3. Content</h3>
            <p>
                Use of the Playlocal Site/Client and any other associated services is restricted to personal use only. Any attempt to utilize Playlocal for commercial gain is strictly prohibited and will be prosecuted in court. Playlocal's sole goal is to duplicate online
                material that may be downloaded for a user's personal usage ("fair use"). Any other uses of the content transmitted by Playlocal, including but not limited to making the content accessible to the public or using it for commercial purposes,
                require prior consent from the owner of the applicable downloaded content.All user-related activities involving Playlocal-transmitted data are entirely the user's responsibility. Playlocal solely provides technical services; no rights
                are granted to the contents.
            </p>
        </div>
        <div class="col-12">
            <h3 class="text-capitalize">4. Disclamer Of Warranties</h3>
            <p>
                The Site and Content are supplied "AS IS," "WITH ALL FAULTS," and "AS AVAILABLE" to the fullest extent authorized by applicable law, and the whole risk of usage and performance is still your responsibility. Playlocal, its suppliers, and its licensors
                DISCLAIM ALL IMPLIED WARRANTIES OF MERCHANTABILITY, MERCHANTABLE QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, AND NON-INFRINGEMENT. Playlocal, its suppliers, and its licensors DO NOT MAKE ANY REPRESENTATIONS, WARRANTIES,
                OR In particular, neither the Site nor the Content are warranted by Playlocal, its suppliers, or its licensors to: Any information or content acquired through the SITE (A) will satisfy your needs, (B) will be timely, uninterrupted, secure,
                or error-free, (C) will be accurate, complete, or reliable, or (D) that any flaws or errors therein will be fixed.
            </p>
        </div>
        <div class="col-12">
            <h3 class="text-capitalize">5. Contact</h3>
            <p>
                If you have any questions, complaints, or claims with respect to the Services, you may contact us (enter related email)
            </p>
        </div>
    </div>
</div>