                // @import '~bootstrap/scss/functions';
                // @import '~bootstrap/scss/variables';
                @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
                @import '../node_modules/bootstrap/scss/bootstrap.scss';
                @import "../node_modules/bootstrap/scss/variables";
                @import "../node_modules/bootstrap/scss/mixins";
                @import "primeng/resources/themes/lara-light-blue/theme.css";
                @import "primeng/resources/primeng.css";
                @import "primeicons/primeicons.css";
                $dark-blue:#1f2438 !important;
                $yellow: #fccc04 !important;
                $youtube: #FF0000 !important;
                $facebook:#4267B2 !important;
                $insta: #C13584 !important;
                $linkedin:#0072b1 !important;
                $white: #ffffff !important;
                $dark: #d5d5d5 !important;
                $blue_light:#E6E5F9 !important;
                $pink_light:#FFEDEA !important;
                $green_light:#D4FBFD !important;
                $yellow_light:#FFF3C4 !important;
                $dark-solid:#F3F3F3 !important;
                body,
                html {
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    font-family: 'Inter', sans-serif;
                }
                
                p,
                h1,
                h2,
                span,
                h3,
                h4,
                h5,
                h6 {
                    font-family: 'Inter', sans-serif;
                }
                
                .vh-75 {
                    min-height: 75vh !important;
                }
                
                .bg-dark-color {
                    background: $dark-blue;
                }
                
                .color-yellow {
                    color: $yellow;
                }
                
                .navbar a {
                    cursor: pointer;
                }
                
                .searchInput {
                    border: 2px solid $dark;
                    padding: 13px 5px 13px 60px !important;
                    font-size: 14px !important;
                    &:focus {
                        box-shadow: none !important;
                    }
                }
                
                .fa-search {
                    top: 14px !important;
                    font-size: 20px !important;
                    left: 25px !important;
                    color: #484848;
                }
                
                .pl-60 {
                    // padding-left: 60px !important;
                }
                
                .btn-download {
                    padding-top: 14px !important;
                    padding-bottom: 14px !important;
                    width: -webkit-fill-available !important;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                }
                
                @include media-breakpoint-down(ms) {
                    .btn-download {
                        padding-top: 13px !important;
                        padding-bottom: 13px !important;
                        font-size: 12px !important;
                        font-weight: 300px !important;
                        padding: 10px 2px !important;
                    }
                }
                
                @include media-breakpoint-down(md) {
                    // .btn-download {
                    //     font-size: 12px !important;
                    //     font-weight: bold !important;
                    //     padding: 15px 0px !important;
                    // }
                    .searchInput {
                        padding: 9px 5px 9px 35px !important;
                    }
                    .fa-search {
                        top: 13px !important;
                        font-size: 20px !important;
                        left: 13px !important;
                    }
                }
                
                @include media-breakpoint-between(md,
                xl) {
                    .btn-download {
                        padding-top: 14px !important;
                        padding-bottom: 14px !important;
                        font-size: 14px !important;
                        font-weight: 500 !important;
                    }
                }
                
                @include media-breakpoint-up(xl) {
                    .btn-download {
                        padding-top: 14px !important;
                        padding-bottom: 14px !important;
                        font-size: 14px !important;
                        font-weight: 500 !important;
                    }
                }
                
                .radius-0 {
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                }
                
                .bg-yellow {
                    background: $yellow;
                }
                
                .border-yellow {
                    border: 1px solid $yellow;
                }
                
                .dropdown {
                    .dropdown-menu {
                        border: 3px solid $yellow;
                        width: -webkit-fill-available !important;
                    }
                    #dropdownMenuButton {
                        background: none !important;
                        border: 3px solid $yellow;
                        border-left: none !important;
                    }
                    .dropdown-item {
                        ._hover:hover,
                        ._hover:active,
                        ._hover:focus {
                            color: $yellow;
                            background: none !important;
                            cursor: pointer !important;
                        }
                        &:active {
                            background: none !important;
                        }
                    }
                }
                
                .ml-10 {
                    margin-left: 10px !important;
                }
                
                .youtube-content {
                    padding: 1rem !important;
                }
                
                .howtodownload {
                    background: linear-gradient(89.81deg, #202438 0.15%, #18235A 90.22%);
                    img {
                        width: 315px !important;
                        height: 304px;
                    }
                }
                
                @include media-breakpoint-down(ms) {
                    .youtube-content {
                        padding: 1.5rem 0rem !important;
                    }
                    // .download-img {
                    //     height: 230px !important;
                    // }
                    .howtodownload {
                        img {
                            width: -webkit-fill-available !important;
                            height: 280px !important;
                        }
                    }
                }
                
                @include media-breakpoint-down(md) {
                    .youtube-content {
                        padding: 1.5rem 0rem !important;
                        button {
                            font-size: 12px !important;
                            font-weight: normal !important;
                        }
                    }
                    // .howtodownload {
                    //     img {
                    //         width: -webkit-fill-available !important;
                    //         height: 280px !important;
                    //     }
                    // }
                }
                
                @include media-breakpoint-down(lg) {
                    .howtodownload {
                        img {
                            width: -webkit-fill-available !important;
                            height: 280px !important;
                        }
                    }
                }
                
                @include media-breakpoint-up(lg) {
                    .howtodownload {
                        img {
                            width: 315px !important;
                            height: 304px !important;
                        }
                    }
                }
                
                @include media-breakpoint-up(md) {
                    .youtube-content {
                        padding: 1rem !important;
                    }
                    // .howtodownload {
                    //     img {
                    //         width: 315px !important;
                    //         height: 304px !important;
                    //     }
                    // }
                }
                
                // .form-select {
                //     border: 3px solid $yellow;
                //     border-left: none !important;
                //     width: -webkit-fill-available !important;
                //     background: $yellow;
                //     &:active {
                //         color: $yellow;
                //     }
                //     &:focus {
                //         box-shadow: none !important;
                //     }
                //     option {
                //         border: 3px solid $yellow;
                //     }
                // }
                // @include media-breakpoint-down(ms) {
                //     .btn-download {
                //         font-weight: normal !important;
                //         font-size: 14px !important;
                //     }
                // }
                // @include media-breakpoint-down(ms) {
                //     .btn-download {
                //         font-weight: normal !important;
                //     }
                // }
                .w-100 {
                    width: 100% !important;
                }
                
                .h-100 {
                    height: 100% !important;
                }
                
                // /* Importing Bootstrap SCSS file. */
                .card {
                    min-height: 400px !important;
                    img {
                        height: 320px !important;
                    }
                }
                
                .border-dark-blue {
                    border: 1px solid $dark-blue;
                }
                
                // .p-buttonset .p-button{
                //     border: 3px solid $yellow;
                //     background: none !important;
                //     color: #1f2438;
                //     &:focus,
                //     &:active{
                //         box-shadow: none !important;
                //         background: $dark-blue;
                //         color: #ffffff;
                .p-selectbutton .p-button.p-highlight:hover,
                .p-selectbutton .p-button.p-highlight:active {
                    background: $dark-blue;
                    border-color: $dark-blue;
                }
                
                .p-button:focus {
                    box-shadow: none !important;
                }
                
                .p-button {
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                }
                
                .p-selectbutton .p-button.p-highlight {
                    background: $dark-blue;
                    border-color: $dark-blue;
                }
                
                // #tabs .p-buttonset .p-button:nth-of-type(3).p-highlight {
                //     background: $youtube;
                //     border-color: $youtube;
                //     .color-youtube {
                //         color: #ffffff !important;
                //     }
                // }
                #tabs .p-buttonset .p-button:nth-of-type(1).p-highlight {
                    background: $facebook;
                    border-color: $facebook;
                    backdrop-filter: blur(50px);
                    .color-fb {
                        color: #ffffff !important;
                    }
                }
                
                #tabs .p-buttonset .p-button:nth-of-type(2).p-highlight {
                    background: $insta;
                    border-color: $insta;
                    .color-insta {
                        color: #ffffff !important;
                    }
                }
                
                #tabs .p-buttonset .p-button:nth-of-type(3).p-highlight {
                    background: $linkedin;
                    border-color: $linkedin;
                    .color-linked {
                        color: #ffffff !important;
                    }
                }
                
                .terms {
                    a {
                        text-decoration: none !important;
                        cursor: pointer !important;
                    }
                }
                
                .color-youtube {
                    color: $youtube
                }
                
                .color-insta {
                    color: $insta
                }
                
                .color-fb {
                    color: $facebook
                }
                
                .color-linked {
                    color: $linkedin
                }
                
                // #tags-button {
                //     .p-selectbutton:nth-child(1) {
                //         color: #fccc04 !important;
                //     }
                //     .p-selectbutton:nth-child(1),
                //     .p-selectbutton:nth-child(1) {
                //         color: #fccc04 !important;
                //     }
                // }
                //     }
                // }
                // @include media-breakpoint-down(ms) {
                //     .card {
                //         height: 200px !important;
                //         overflow: hidden !important;
                //         img {
                //             height: 200px !important;
                //         }
                //     }
                // }
                // @include media-breakpoint-up(md) {
                //     .card {
                //         height: 250px !important;
                //         overflow: hidden !important;
                //         img {
                //             height: 250px !important;
                //         }
                //     }
                // }
                // @include media-breakpoint-up(lg) {
                //     .card {
                //         height: 280px !important;
                //         overflow: hidden !important;
                //         img {
                //             height: 280px !important;
                //         }
                //     }
                // }
                // @include media-breakpoint-up(xl) {
                //     .achie-img img {
                //         width: 550px;
                //         height: 400px;
                //     }
                // }
                // @include media-breakpoint-up(xxl) {
                //     .achie-img img {
                //         width: 650px;
                //         height: 460px;
                //     }
                // }
                .title-border {
                    background: $yellow;
                    height: 3px;
                    width: 50px;
                    display: inline-block;
                }
                
                .m-top-1 {
                    margin-top: -1px !important;
                }
                
                .pi {
                    font-size: 25px !important;
                    margin-left: 5px !important;
                }
                
                // New Ui
                .h-90vh {
                    height: 90vh;
                }
                
                .bg-header {
                    background: url('../src/assets/img/landing-bg.jpg') center center no-repeat, linear-gradient(180deg, #202438 0%, rgba(32, 36, 56, 0.74) 100%);
                    background-size: cover;
                }
                
                .fs-20px {
                    font-size: 20px !important;
                }
                
                .fs-23px {
                    font-size: 23px !important;
                }
                
                .fs-28px {
                    font-size: 28px !important;
                }
                
                .fs-35px {
                    font-size: 35px !important;
                }
                
                .fw-300 {
                    font-weight: 300 !important;
                }
                
                .fw-400 {
                    font-weight: 400 !important;
                }
                
                .fw-500 {
                    font-weight: 500 !important;
                }
                
                .social-icon {
                    color: #fff;
                }
                
                .social-icons li {
                    vertical-align: top;
                    display: inline;
                    height: 100px;
                }
                
                .social-icons a {
                    color: $white;
                    text-decoration: none;
                }
                
                .box-shadow-4 {
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25) !important;
                }
                
                .br-10px {
                    border-radius: 10px !important;
                    -webkit-border-radius: 10px !important;
                    -moz-border-radius: 10px !important;
                    -ms-border-radius: 10px !important;
                    -o-border-radius: 10px !important;
                }
                
                .bg-white {
                    background: $white;
                }
                
                .mt-120px {
                    margin-top: -120px;
                }
                
                #tabs .p-buttonset .p-button {
                    border: 2px solid #d5d5d5;
                    margin: 0 5px 0 0;
                    border-radius: 36px !important;
                    -webkit-border-radius: 36px !important;
                    -moz-border-radius: 36px !important;
                    -ms-border-radius: 36px !important;
                    -o-border-radius: 36px !important;
                }
                
                .br-36px {
                    border-radius: 36px !important;
                    -webkit-border-radius: 36px !important;
                    -moz-border-radius: 36px !important;
                    -ms-border-radius: 36px !important;
                    -o-border-radius: 36px !important;
                }
                
                .py-14px {
                    padding-top: 14px !important;
                    padding-bottom: 14px !important;
                }
                
                // .bg-icons {
                //     width: 56px;
                //     height: 56px;
                //     background-color: #E6E5F9;
                //     border-radius: 50%;
                //     ;
                //     -webkit-border-radius: 50%;
                //     -moz-border-radius: 50%;
                //     -ms-border-radius: 50%;
                //     -o-border-radius: 50%;
                // }
                .br-50 {
                    border-radius: 50% !important;
                    -webkit-border-radius: 50% !important;
                    -moz-border-radius: 50% !important;
                    -ms-border-radius: 50% !important;
                    -o-border-radius: 50% !important;
                }
                
                .wh-56px {
                    width: 56px;
                    height: 56px;
                }
                
                .bg-light-blue {
                    background: $blue_light;
                }
                
                .bg-light-yellow {
                    background: $yellow_light;
                }
                
                .bg-light-green {
                    background: $green_light;
                }
                
                .bg-light-pink {
                    background: $pink_light;
                }
                
                .featues {
                    img {
                        width: 289px;
                        height: 458px;
                    }
                }
                
                @include media-breakpoint-down(ms) {
                    .featues {
                        img {
                            width: 300px !important;
                            height: 349.27px !important;
                        }
                    }
                }
                
                @include media-breakpoint-up(md) {
                    .featues {
                        img {
                            width: 250px !important;
                            height: 506px !important;
                        }
                    }
                }
                
                @include media-breakpoint-up(lg) {
                    .featues {
                        img {
                            width: 289px !important;
                            height: 549.27px !important;
                        }
                    }
                }
                
                .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
                    border: none !important;
                }
                
                .p-accordion .p-accordion-content {
                    padding: 20px 20px 20px 55px !important;
                    border: none !important;
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                }
                
                .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
                    box-shadow: none !important;
                }
                
                .bg-dark-solid {
                    background: $dark-solid;
                }
                
                .thumbnail-img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 14px;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    -ms-border-radius: 14px;
                    -o-border-radius: 14px;
                }
                
                .pt-14px {
                    padding-top: 14px !important;
                }
                
                .pi-plus,
                .pi-minus {
                    font-size: 16px !important;
                }