                // @import '~bootstrap/scss/functions';
                // @import '~bootstrap/scss/variables';
                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
                @import '../node_modules/bootstrap/scss/bootstrap.scss';
                @import "../node_modules/bootstrap/scss/variables";
                @import "../node_modules/bootstrap/scss/mixins";
                $dark-blue:#1f2438 !important;
                $yellow: #fccc04 !important;
                body,
                html {
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    font-family: 'Poppins', sans-serif !important;
                }
                
                p,
                h1,
                h2,
                span,
                h3,
                h4,
                h5,
                h6 {
                    font-family: 'Poppins', sans-serif !important;
                }
                
                .vh-75 {
                    min-height: 75vh !important;
                }
                
                .bg-dark-color {
                    background: $dark-blue;
                }
                
                .color-yellow {
                    color: $yellow;
                }
                
                .searchInput {
                    border: 4px solid $dark-blue;
                    padding: 13px 5px 13px 60px !important;
                    font-size: 1.25rem !important;
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                    &:focus {
                        box-shadow: none !important;
                    }
                }
                
                .fa-search {
                    top: 18px !important;
                    font-size: 30px !important;
                    left: 20px !important;
                }
                
                .pl-60 {
                    // padding-left: 60px !important;
                }
                
                .btn-download {
                    width: -webkit-fill-available !important;
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                }
                
                @include media-breakpoint-down(ms) {
                    .btn-download {
                        font-size: 12px !important;
                        font-weight: 300px !important;
                        padding: 10px 2px !important;
                    }
                }
                
                @include media-breakpoint-down(md) {
                    .btn-download {
                        font-size: 12px !important;
                        font-weight: bold !important;
                        padding: 15px 0px !important;
                    }
                    .searchInput {
                        padding: 9px 5px 9px 35px !important;
                        font-size: 1rem !important;
                    }
                    .fa-search {
                        top: 15px !important;
                        font-size: 20px !important;
                        left: 13px !important;
                    }
                }
                
                @include media-breakpoint-between(md,
                xl) {
                    .btn-download {
                        font-size: 16px !important;
                        font-weight: bold !important;
                        padding: 19px 20px !important;
                    }
                }
                
                @include media-breakpoint-up(xl) {
                    .btn-download {
                        font-size: 17px !important;
                        font-weight: bold !important;
                        padding: 18px 20px !important;
                    }
                }
                
                .radius-0 {
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                }
                
                .bg-yellow {
                    background: $yellow;
                }
                
                .border-yellow {
                    border: 1px solid $yellow;
                }
                
                .dropdown {
                    .dropdown-menu {
                        border: 3px solid $yellow;
                        width: -webkit-fill-available !important;
                    }
                    #dropdownMenuButton {
                        background: none !important;
                        border: 3px solid $yellow;
                        border-left: none !important;
                    }
                    .dropdown-item {
                        ._hover:hover,
                        ._hover:active,
                        ._hover:focus {
                            color: $yellow;
                            background: none !important;
                            cursor: pointer !important;
                        }
                        &:active {
                            background: none !important;
                        }
                    }
                }
                
                .ml-10 {
                    margin-left: 10px !important;
                }
                
                .youtube-content {
                    padding: 1rem !important;
                }
                
                @include media-breakpoint-down(ms) {
                    .youtube-content {
                        padding: 1.5rem 0rem !important;
                    }
                }
                
                @include media-breakpoint-down(md) {
                    .youtube-content {
                        padding: 1.5rem 0rem !important;
                        button {
                            font-size: 12px !important;
                            font-weight: normal !important;
                        }
                    }
                }
                
                @include media-breakpoint-up(md) {
                    .youtube-content {
                        padding: 1rem !important;
                    }
                }
                
                // .form-select {
                //     border: 3px solid $yellow;
                //     border-left: none !important;
                //     width: -webkit-fill-available !important;
                //     background: $yellow;
                //     &:active {
                //         color: $yellow;
                //     }
                //     &:focus {
                //         box-shadow: none !important;
                //     }
                //     option {
                //         border: 3px solid $yellow;
                //     }
                // }
                // @include media-breakpoint-down(ms) {
                //     .btn-download {
                //         font-weight: normal !important;
                //         font-size: 14px !important;
                //     }
                // }
                // @include media-breakpoint-down(ms) {
                //     .btn-download {
                //         font-weight: normal !important;
                //     }
                // }
                .w-100 {
                    width: 100% !important;
                }
                
                .h-100 {
                    height: 100% !important;
                }
                
                // /* Importing Bootstrap SCSS file. */
                .card {
                    min-height: 230px !important;
                    img {
                        height: 230px !important;
                    }
                }
                
                .border-dark-blue {
                    border: 1px solid $dark-blue;
                }
                
                // .p-buttonset .p-button{
                //     border: 3px solid $yellow;
                //     background: none !important;
                //     color: #1f2438;
                //     &:focus,
                //     &:active{
                //         box-shadow: none !important;
                //         background: $dark-blue;
                //         color: #ffffff;
                .p-selectbutton .p-button.p-highlight:hover,
                .p-selectbutton .p-button.p-highlight:active {
                    background: $dark-blue;
                    border-color: $dark-blue;
                }
                
                .p-button:focus {
                    box-shadow: none !important;
                }
                
                .p-button {
                    border-radius: 0px !important;
                    -webkit-border-radius: 0px !important;
                    -moz-border-radius: 0px !important;
                    -ms-border-radius: 0px !important;
                    -o-border-radius: 0px !important;
                }
                
                .p-selectbutton .p-button.p-highlight {
                    background: $dark-blue;
                    border-color: $dark-blue;
                }
                
                .terms {
                    a {
                        text-decoration: none !important;
                        cursor: pointer !important;
                    }
                }
                
                //     }
                // }
                // @include media-breakpoint-down(ms) {
                //     .card {
                //         height: 200px !important;
                //         overflow: hidden !important;
                //         img {
                //             height: 200px !important;
                //         }
                //     }
                // }
                // @include media-breakpoint-up(md) {
                //     .card {
                //         height: 250px !important;
                //         overflow: hidden !important;
                //         img {
                //             height: 250px !important;
                //         }
                //     }
                // }
                // @include media-breakpoint-up(lg) {
                //     .card {
                //         height: 280px !important;
                //         overflow: hidden !important;
                //         img {
                //             height: 280px !important;
                //         }
                //     }
                // }
                // @include media-breakpoint-up(xl) {
                //     .achie-img img {
                //         width: 550px;
                //         height: 400px;
                //     }
                // }
                // @include media-breakpoint-up(xxl) {
                //     .achie-img img {
                //         width: 650px;
                //         height: 460px;
                //     }
                // }
                .howtodownload {
                    img {
                        width: -webkit-fill-available !important;
                    }
                }
                
                .title-border {
                    background: $yellow;
                    height: 3px;
                    width: 50px;
                    display: inline-block;
                }
                
                .m-top-1 {
                    margin-top: -1px !important;
                }
                
                .pi {
                    font-size: 25px !important;
                    margin-left: 5px !important;
                }